/* #region all properties */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin-inline: auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-list {
    list-style-type: none;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-sprite {
    fill: 0;
}

/* #endregion all properties */

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-page-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.nav-page-link .page-link-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-page-link .page-link-span:hover, 
.nav-page-link .page-link-span:focus {
    color:#404BBF;
}

.nav-page-link .page-link-span:active {
    color:#404BBF;
}

.nav-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-list-container li {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: #2e2f42; */
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover, 
.nav-list-item:focus {
    color: #404bbf;
}

.nav-list-item.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-container {
    font-style: normal;
}

.address-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.address-container-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container-item:hover, 
.address-container-item:focus {
    color:#404BBF;
}

/* #endregion header */

/* #region section 1 */

.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/background.jpg);
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-one .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* #endregion section 1 */

/* #region section 2 */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.section-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.list-item {
    width: calc((100% - 72px) / 4);
}

.section-list-container .list-title {
    margin-bottom: 8px;
}

.sprite-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* #endregion section 2 */

/* #region section 3 */

.section-three {
    background-color: #F4F4FD;
}

.section-three .container .section-title {
    margin-bottom: 72px;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.section-three .container .section-list-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section-three .container .list-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
}

.list-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.list-text-container .list-title {
    text-align: center;
    margin-bottom: 8px;
}

.list-text-container .section-text {
    text-align: center;
}

.section-three .list-item-container {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-socials-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}

.list-socials-item {
    width: 40px;
    height: 40px;
}

.list-socials-item-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socials-item-icon:hover,
.list-socials-item-icon:focus {
    background-color: #404bbf;
}

.social-icon-sprite {
    fill: #f4f4fd;
}

/* #endregion section 3 */

/* #region section 4 */

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.section-four .section-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
}

.section-four .list-item-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list-item-container:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.list-info-img {
    position: relative;
    overflow: hidden;
}

.list-hidden-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four .list-item-container:hover .list-hidden-text {
    transform: translateX(0);
}

.section-four .section-text-container {
    border-top: none;
}

.section-four .section-title {
    margin-bottom: 72px;
}

.list-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-info-container .list-title {
    margin-bottom: 8px;
}

/* #endregion section 4 */

/* #region footer */

.page-footer {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background-color:#2e2f42;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer-container .footer-logo-container {
    margin-right: 120px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link .footer-link-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-link .footer-link-span:hover,
.footer-link .footer-link-span:focus {
    color: #404BBF;
}

.footer-link .footer-link-span:active {
    color: #404BBF;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-socials-container .list-socials-container {
    gap: 16px;
}

.footer-socials-container .list-socials-item-icon:hover,
.footer-socials-container .list-socials-item-icon:focus {
    background-color: #31d0aa;
}



/* #endregion footer */